version: '2'
services:
    arbregtaapplication-app:
        image: arbregtaapplication
        environment:
            # - _JAVA_OPTIONS=-Xmx512m -Xms256m
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:mysql://arbregtaapplication-mysql:3306/arbregtaapplication?useUnicode=true&characterEncoding=utf8&useSSL=false
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
            - SPRING_DATA_ELASTICSEARCH_CLUSTER_NODES=arbregtaapplication-elasticsearch:9300
        ports:
            - 8080:8080
    arbregtaapplication-mysql:
        extends:
            file: mysql.yml
            service: arbregtaapplication-mysql
    arbregtaapplication-elasticsearch:
        extends:
            file: elasticsearch.yml
            service: arbregtaapplication-elasticsearch
